<div class="container">
<p id="notice"><%= notice %></p>

<h1>Pets &amp; Inventory</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Product type</th>
      <th>Price</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.product_id %></td>
        <td><%= inventory.product_type %></td>
        <td><%= inventory.price %></td>
        <td><%= inventory.store_id %></td>
        <td><%= link_to 'Show', inventory, class: 'btn btn-primary', style: 'color: white' %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_inventory_path, class: 'btn btn-default' %>
</div>
