<div class="container">
<p id="notice"><%= notice %></p>

<h1>Toys</h1>

<div class="row">
  <% @toys.each do |toy| %>
    <div class="col-md-4">
      <div class="well">
        <div class="pet-img">
            <%= image_tag toy.avatar.url(:medium) %>
        </div>
        <h1><%= toy.brand %> <%= toy.toyType %></h1> <br/>
        <h2>$<%= toy.price %></h2> <br />
        <%= toy.description %><br>

        <%= link_to 'Show', toy, class: 'btn btn-primary', style: 'color: white' %>
        <% if user_signed_in? %>
        <% if current_user.admin %>
        <%= link_to 'Edit', edit_toy_path(toy), class: 'btn btn-warning', style: 'color: white' %>
        <%= link_to 'Destroy', toy, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: white' %>
        <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Toy', new_toy_path, class: 'btn btn-default' %>
</div>
