<div class="container">


<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.street_line_1 %>
        <%= store.street_line_2 %>
        <%= store.city %> <%= store.state %>, <%= store.zip_code %></td>
        <td><%= link_to 'Show', store, class: 'btn btn-primary', style: 'color: white' %></td>
        <% if user_signed_in? %>
        <% if current_user.admin %>
        <td><%= link_to 'Edit', edit_store_path(store), class: 'btn btn-warning', style: 'color: white' %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: white' %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path, class: 'btn btn-default' %>
</div>
