<%= form_with(model: pet, local: true, html: { multipart: true }) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pet_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :pet_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :pet_price %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :pet_dob %>
  </div>

  <div class="field">
    <%= form.label :typeOfAnimal %>
    <%= form.text_field :typeOfAnimal, id: :pet_typeOfAnimal %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.text_field :store_id, id: :pet_store_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
