<div class="container">

<h1>Pets</h1>




<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-4">


      <%= image_tag pet.avatar.url(:medium) %><br/>
      <h1><%= pet.name %></h1> <br/>
      <h2>$<%= pet.price %></h2> <br />
      <%= pet.description %>
      <%= pet.dob %>
      <%= pet.typeOfAnimal %>
      <%= link_to 'Show', pet, class: 'btn btn-primary', style: 'color: white' %>
      <%= link_to 'Edit', edit_pet_path(pet), class: 'btn btn-warning', style: 'color: white' %>
      <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: white' %>


    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Pet', new_pet_path, class: 'btn btn-default'%>
</div>
