<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :customer_birth_date %>
  </div>

  <div class="field">
    <%= form.label :cust_num %>
    <%= form.number_field :cust_num, id: :customer_cust_num %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :customer_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :customer_last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :customer_gender %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.text_field :phone_num, id: :customer_phone_num %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.text_field :store_id, id: :customer_store_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
