<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :food_name %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.text_field :expiration, id: :food_expiration %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :food_data %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :food_price %>
  </div>

  <div class="field">
    <%= form.label :foodType %>
    <%= form.text_field :foodType, id: :food_foodType %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :food_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
