<div class="container">
<h1>Foods</h1>

<div class="row">
  <% @foods.each do |food| %>
    <div class="col-md-4">
      <div class="well">
        <div class="pet-img">
            <%= image_tag food.avatar.url(:medium) %>
        </div>
        <h1><%= food.name %> </h1> <br/>
        <h2>$<%= food.price %></h2> <br />
        <%= food.foodType %><br>

        <%= link_to 'Show', food, class: 'btn btn-primary', style: 'color: white' %>
        <% if user_signed_in? %>
        <% if current_user.admin %>
        <%= link_to 'Edit', edit_food_path(food), class: 'btn btn-warning', style: 'color: white' %>
        <%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: white' %>
        <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Food', new_food_path, class: 'btn btn-default' %>
</div>
