<!DOCTYPE html>
<html>
  <head>
    <title>PetStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" style="background-color: #00AEEF">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag('logoreverse', height: '25', class: 'icon') %> PET STORE &amp; MORE
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "PETS", pets_path %></li>
              <li><%= link_to "FOOD", foods_path %></li>
              <li><%= link_to "TOYS", inventories_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to "EMPLOYEES", employees_path %></li>
                <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
              <% end %>
              </ul>
        </div>
      </div>
    </nav>
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
